:root {
	/* CSS variables are set from the OCaml code */
  }

* {
    font-family: sans-serif;
}
body {
    margin: unset;
    -webkit-user-select: none;
    user-select: none;
}
.gameboard {
	position: relative; /* Added to establish a positioning context */
	width: var(--gameboard-width);
	height: var(--gameboard-height);
	margin:0;
	padding: 0;
	gap:0;
    background-color: #f0f0f0;
}
.river {
	position: relative; /* Added */
	height: var(--river-height);
    background-color: #4ab3b4;
}

.playground {
    position: relative; /* Added */
	height: calc(100% - var(--river-height) - var(--hospital-height));
    margin: 0;
    padding: 0;
    border: none;
}
.hospital {
    position: relative; /* Added */
    height: var(--hospital-height);
    margin: 0;
    padding: 0;
    border: 1px dashed red; /* Fixed: specify width, style, and color */
	background-color: white;
	z-index: 1;
}
.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    gap: 10px; /* Space between start-button and theme-selector */
}

.start-button {
    /* Remove absolute positioning */
    position: relative; /* or omit if not necessary */
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}
.start-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.theme-selector {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between buttons and display */
}

.start-button:hover {
    background-color: #45a049; /* Darker green on hover */
}


.creet {
    height: var(--creet-size);
    width: var(--creet-size);
    /* background-color: #267ef5; */
    border-radius: 50%;
    display: block; /* Change from inline-block to block */
    position: absolute;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    border: 0; /* Reset border */
    line-height: 0; /* Reset line-height */
    font-size: 0; /* Reset font-size */
    box-sizing: border-box; /* Ensure padding and border are included in width and height */
	transform: translate(-50%, -50%); /* Centers the element */
	z-index: 2; /* Higher z-index */
}

.creets-counter {
    padding: 15px;
}
