* {
    font-family: sans-serif;
}
body {
    margin: unset;
    -webkit-user-select: none;
    user-select: none;
}
.gameboard {
    width: 1000px;
    height: 700px;
	margin:0;
	padding: 0;
	gap:0;
    background-color: #f0f0f0;

    /* Hospital */
    border-bottom-style: dashed;
    border-bottom-color: coral;
}

.river {
    height: 10%;
    background-color: #4ab3b4;
}

.playground {
    position: relative; /* Added */
    height: 90%;
    margin: 0;
    padding: 0;
    border: none;
}

.hospital {
    position: relative; /* Added */
    height: 93%;
    margin: 0;
    padding: 0;
    border: none;
}

.creet {
    height: 50px;
    width: 50px;
    /* background-color: #267ef5; */
    border-radius: 50%;
    display: block; /* Change from inline-block to block */
    position: absolute;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    border: 0; /* Reset border */
    line-height: 0; /* Reset line-height */
    font-size: 0; /* Reset font-size */
    box-sizing: border-box; /* Ensure padding and border are included in width and height */
}

.creets-counter {
    padding: 15px;
}
